@model NewsArticleServiceModel

@{
    ViewData["Title"] = "News Article Details";
}

@section Styles {
    <style>
        .article-details-container {
            border: 1px solid #dee2e6; 
            border-radius: .25rem; 
            transition: transform .2s; 
            margin: auto; 
            width: 60%; 
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }

            .article-details-container:hover {
                transform: scale(1.02); 
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
            }

        .article-image {
            max-height: 250px; 
            object-fit: cover;
            display: block;
            margin: 20px auto; 
            border-radius: .25rem; 
            width: 80%; 
        }

        .back-button {
            display: inline-block; 
            margin-top: 20px;
        }
    </style>
}

<div class="text-center mt-5 mb-3">
    <h2>@Model.Title</h2>
</div>

<div class="article-details-container">
    <img src="@Model.ImageUrl" class="article-image" alt="Image for @Model.Title">
    <div class="p-4">
        <p>@Model.Description</p>
    </div>
</div>

<div class="text-center">
    <a href="@Url.Action("All", "NewsArticle")" class="btn btn-primary back-button">Back to All News Articles</a>
</div>>