@model EventServiceModel
@inject IEventService eventService
@inject IOrganizerService organizerService

<div class="card mb-3 event-card">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="@Model.ImageUrl" class="card-img" alt="Event Image" style="max-height: 200px; object-fit: cover;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.Description</p>
                <p class="card-text"><small class="text-muted">@Model.Location</small></p>
                <p class="card-text"><small class="text-muted">@Model.Date.ToString("MMMM dd, yyyy")</small></p>
                <div class="text-center">
                    <div class="button-group" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 10px;">
                        <a asp-action="Details" asp-route-id="@Model.Id" asp-route-information="@Model.GetEventDetails()" class="btn btn-outline-primary btn-sm">Details</a>
                        @if (await eventService.HasOrganizerWithIdAsync(Model.Id, User.Id())
                            || User.IsAdmin())
                        {
                            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary btn-sm">Edit</a>
                            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger btn-sm">Delete</a>
                        }
                        @if (!await eventService.HasOrganizerWithIdAsync(Model.Id, User.Id()) &&
                        !await eventService.IsJoinedByIUserWithIdAsync(Model.Id, User.Id()))
                        {
                            <form asp-action="Join" asp-route-id="@Model.Id" method="post" style="margin: 0;">
                                <button type="submit" class="btn btn-success btn-sm">Join</button>
                            </form>
                        }
                        @if (await eventService.IsJoinedByIUserWithIdAsync(Model.Id, User.Id()))
                        {
                            <form asp-action="Leave" asp-route-id="@Model.Id" method="post">
                                <button type="submit" class="btn btn-warning btn-sm">Leave</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>